@{
    ViewData["Title"] = "Recipe Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Reciprocity.Models.Recipe

<h2>Details</h2>
<hr />
@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)
<p>@Html.ActionLink("Back to list", "Index")</p>